:root{
    background: rgba(15,15,15,.9);   
    --height: 1rem;
}
html,body{
    box-sizing: border-box;
    margin:0;
    height: 100%;
}
div.wrapper{
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

