{{> header}}
<main>
    {{>nav}}
    <article>
         <div>
             <h3>Write to me!</h3>
             <form>
                 <div>
                 <textarea></textarea>
                 </div>
                 <div>
                     <input type="submit">
                 </div>
             </form>
         </div>
    </article>
</main>
{{>footer}}