{{> header}}
<main>
   {{> nav}} 
    <article>
        <p>Hello {{cheddar firstName}} {{caps lastName}}</p>
        <p>This is the homepage of the Night's Watch</p>
        <p>{{lorem}}</p>
    </article>
</main>
{{> footer}}