:root{
    background: rgba(15,15,15,.9);   
    --height: 1rem;
}
@media(min-height:500px){
    :root{
    --height: 3rem;
    }
}
body{
    padding-top: calc(var(--height) + 5vh);
}
body * {
    background: moccasin;
    max-width: 20rem;
    margin: 0 auto;
}
header,footer{
    display: block;
    border: 5px dashed black;
    padding: 1rem;
}
main{
    display:grid;
    grid-template-columns: 1fr 3fr;
    padding: 1rem;
    min-height: 10rem;
    text-align: left;
}
main *{
    border-radius: 1rem;
}
ul{
    padding:0;
}
article{
    width: 10rem;
}
textarea{
    padding: 10px;
    background: burlywood;
}